{% extends 'layout.njk' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <title>Desafio 3-3 - Sobre</title>
{% endblock %}

{% block main %}
    <section>
        <div>
            <a href="index.html" class="company-title">
                <div class="logo-container">
                    <img src="/logo.svg" alt="" class="logo"/>
                </div>
                <h1>Rocketseat</h1>
            </a>
            <div class="company-description">
                <img src="/trofeu-home.svg" alt="" srcset=""/>
                <div class="wrapper">
                    <h2>
                        As melhores tecnologias em programação, direto ao ponto e do jeito certo.
                    </h2>
                    <p>
                        As mesmas tecnologias utilizadas por empresas como: Nubank, Netflix, Uber, Instagram e Airbnb
                    </p>
                    <p>
                        Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, construindo aplicações de alta performance e se destacando entre os maiores programadores.
                    </p>
                </div>
            </div>
        </div>
        <ul class="social-media">
            <li>
                <a href="https://github.com/Rocketseat/" target="_blank" rel="noopener noreferrer">
                    <i data-feather="github"></i>GitHub</a >
            </li>
            <li>
                <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank" rel="noopener noreferrer">
                    <i data-feather="instagram"></i>
                    Instagram</a >
            </li>
            <li>
                <a href="https://www.facebook.com/rocketseat/" target="_blank" rel="noopener noreferrer">
                    <i data-feather="facebook"></i>acebook</a >
            </li>
        </ul>
    </section>
{% endblock %}

{% block script %}
    <script>
        feather.replace();
    </script>
{% endblock %}