<!DOCTYPE html>
<html lang="pt-BR">
				<head>
								<meta charset="UTF-8"/>
								<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
								<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
								<link rel="stylesheet" href="/styles.css"/>
								{% block head %}
												
								{% endblock %}
				</head>
				<body>
								<header>
												<ul>
																<li class="{{ about }}">
																				{% if about=='selected'%}
																								<p>Sobre</p>
																				{% else %}
																								<a href="/">Sobre</a>
																				{% endif %}
																</li>
																<li class="{{ courses }}">
																				{% if courses=='selected'%}
																								<p>Cursos</p>
																				{% else %}
																								<a href="/courses">Cursos</a>
																				{% endif %}
																</li>
												</ul>
								</header>
								<main>
												{% block main %}{% endblock %}
								</main>
								{% block script %}{% endblock %}
				</body>
</html>