{% extends 'layout.njk' %}

{% block head %}
		<title>FoodFy - Sobre</title>
{% endblock %}
{% block content %}
<section class="about">
	<h1>Sobre o FoodFy</h1>
	<p>
		FoodFy é um exemplo de página utilizando <strong>HTML, CSS</strong> e
		<strong>JavaScript.</strong>Site criado durante o curso
		<a href="https://rocketseat.com.br/launchbase" target="_blank"
			>LaunchBase</a
		>
		realizado pela
		<a href="https://rocketseat.com.br" target="_blank">Rocketseat</a> Os
		dados presentes neste site são fictícios e não correspondem à
		realidade. Qualquer semelhança com a realidade é mera coincidência.
	</p>
	<p>
		Para maiores informações acesse:
		<a href="https://github.com/AndreLuiz-JS/LaunchBase" target="_blank"
			>https://github.com/AndreLuiz-JS/LaunchBase</a
		>
	</p>
	<h2>Como tudo começou...</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
		viverra mauris sed purus porta, nec sagittis tortor ornare. Quisque
		hendrerit est a dui faucibus, eu lacinia enim maximus. Aenean pretium
		faucibus mi, fringilla ultricies nisl condimentum in. Duis et neque
		sit amet neque ultricies finibus at ac dolor. Maecenas mattis felis id
		ex efficitur convallis. Ut vestibulum feugiat mauris id egestas. In
		hac habitasse platea dictumst. Etiam et faucibus diam. Morbi fermentum
		velit vitae est porta, nec accumsan dui malesuada. Nulla fermentum sem
		in vestibulum pretium. Ut tristique enim ut tempor condimentum. Nulla
		ultricies fringilla tellus. Aenean porttitor tortor eget sem
		consequat, porttitor porttitor arcu dignissim. Vestibulum convallis
		iaculis mi nec malesuada. Duis quis consectetur nunc, et condimentum
		ipsum. Vivamus eget mauris sagittis, rutrum massa ac, rutrum diam.
	</p>
	<p>
		Cras tempor erat orci, non aliquam dui fringilla eu. Vestibulum ante
		ipsum primis in faucibus orci luctus et ultrices posuere cubilia
		curae; Nunc vitae leo nunc. Nam nibh tellus, fermentum sit amet
		consequat non, rutrum interdum mauris. In justo tellus, sagittis sit
		amet lacinia non, laoreet at sem. Cras tincidunt, lorem vitae
		vestibulum efficitur, magna velit congue ante, non vestibulum elit
		ipsum quis enim. Etiam eleifend ac dui eu efficitur. Mauris id rhoncus
		mi, a tincidunt ante. Aenean sapien magna, feugiat sit amet nunc in,
		blandit aliquam est.
	</p>
	<h2>Nossas receitas</h2>
	<p>
		Malesuada fames ac turpis egestas integer. Diam volutpat commodo sed
		egestas egestas fringilla. Felis eget velit aliquet sagittis id
		consectetur purus ut faucibus. Id venenatis a condimentum vitae sapien
		pellentesque. Amet tellus cras adipiscing enim eu turpis egestas. Arcu
		vitae elementum curabitur vitae. Tellus pellentesque eu tincidunt
		tortor. Fermentum leo vel orci porta non. Cursus risus at ultrices mi
		tempus. Interdum varius sit amet mattis vulputate enim nulla aliquet.
		Nunc lobortis mattis aliquam faucibus purus in massa.
	</p>
</section>
{% endblock %}