{% extends 'layout.njk' %}
{% block head %}
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
	/>
	<title>FoodFy - Home</title>
{% endblock %}

{% block content %}
<section class="home-description">
	<div>
		<h1>As melhores receitas</h1>
		<h2>
			Aprenda a construir os melhores pratos com receitas criadas por
			profissionais do mundo inteiro.
		</h2>
	</div>
	<img src="/chef.png" alt="" />
</section>
<main>
	<section class="recipes">
		{% for recipe in recipes %}
		<div class="recipe" id="recipes/{{recipe.id}}">
			<div style="background-image: url('{{recipe.image}}')" id="img"></div>
			<h1>{{recipe.title}}</h1>
			<h2>{{recipe.author}}</h2>
		</div>
		{% endfor %}
	</section>
</main>
{% endblock %}
