{% extends 'layout.njk' %}
{% block head %}
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
	/>
	<title>e-Learning - {{card.name}}</title>
{% endblock %}

{% block content %}
<main>
	<section class="cards">
		<div class="card" id={{card.id}}>
			<div class="avatar" style="background: url('{{card.avatar_url}}')
		no-repeat center center / cover;">
			</div>
			<div class="card-details">
				<div class="item">
					<div>Nome completo</div>
					<div>{{card.name}}</div>
				</div>
				<div class="item">
					<div>Idade</div>
					<div>{{card.age}} anos</div>
				</div>
				<div class="item">
					<div>Grau de escolaridade</div>
					<div>{{card.education_level}}</div>
				</div>
				<div class="item">
					<div>Tipo de aula</div>
					<div>{{card.lesson_type}}</div>
				</div>
				<div class="item">
					<div>Acompanhamento</div>
					<div>
						{% for subject in card.subjects_taught %}
						<span>{{subject}}</span>
						{% endfor %}
					</div>
				</div>
				<div class="item">
					<div>Desde</div>
					<div id="date">{{card.created_at}}</div>
				</div>
				{% if card.editable %}
				<div class="item">
					<a href="/teachers/{{card.id}}/edit">Editar Dados do Professor</a>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
</main>
{% endblock %}
