{% extends 'layout.njk' %}
{% block head %}
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
		<title>FoodFy - Receitas</title>
{% endblock %}
{% block content %}
<section class="recipes">
	{% for recipe in recipes %}
		<div class="recipe" id={{recipe.id}}>
			<img src={{recipe.image}} alt={{recipe.title}} />
			<h1>{{recipe.title}}</h1>
			<h2>{{recipe.author}}</h2>
		</div>
	{% endfor %}
</section>
{% endblock %}
