{% extends 'layout.njk' %}
{% block head %}
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
	/>
	<title>e-Learning</title>
{% endblock %}

{% block content %}
<section class="home-description">
	<div>
		<h1>Aprenda sem sair de casa</h1>
		<h2>
			Aulas 100% on-line com os melhores professores do Brasil.
		</h2>
	</div>
	<img src="/student.png" alt="" />
</section>
<main>
	<section class="recipes">
		{% for recipe in recipes %}
		<div class="recipe" id={{recipe.id}}>
			<img src={{recipe.image}} alt={{recipe.title}} />
			<h1>{{recipe.title}}</h1>
			<h2>{{recipe.author}}</h2>
		</div>
		{% endfor %}
	</section>
</main>
{% endblock %}
